.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Homepage-Img {
  position: relative;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, 0%);

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  display: flex;
  padding-top: 100px;
  margin: auto;
  /* overflow-y: scroll; */
}

.img-container {
  width: "100%";
  display: "flex";
  justify-content: center;
  align-items: center;
  /* margin-left: auto;
  margin-right: auto; */
  /* position: relative;
  align-items: center; */
}


.button-object {
  display: inline-block;
  margin: auto;
  padding: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.no-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.modal-size {
  position: fixed;
  /* width: 50%; */
  /* height: 50%; */

  /* top: 100%; */
  /* left: 100%; */
  /* right: auto;
  bottom: auto; */

  /* transform: translate(-50%, -50%); */
}


@font-face {
  font-family: 'NotoSansTC';
  font-weight: 900;
  src: local('NotoSansTC'), url(../public/fonts/NotoSansTC-Black.otf) format('opentype');
}

/* loading start */

::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.modal {
  display: none; /*Hidden by default */
  /* display: block; */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* overflow: auto;  */
  /* Enable scroll if needed */
  /* overflow:hidden; */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  /* margin: 70% auto; 
  15% from the top and centered */
  margin: auto;
  padding: 20px;
  position: fixed;
  top:50%;
  border: 1px solid #888;
  width: 100%; /* Could be more or less, depending on screen size */
}


.loading {
  display:flex;
  justify-content: center;
}

.loading::after{
  content: "";
  width:50px;
  height:50px;
  border: 10px solid #dddddd;
  border-bottom-color: #61dafb;
  border-top-color: #61dafb;
  /* border-radius: 50%; */
  animation: loading 1s ease infinite;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}

/* loading end */