.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Homepage-Img {
  position: relative;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, 0%);

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  display: flex;
  padding-top: 100px;
  margin: auto;
  /* overflow-y: scroll; */
}

.img-container {
  width: "100%";
  display: "flex";
  justify-content: center;
  align-items: center;
  /* margin-left: auto;
  margin-right: auto; */
  /* position: relative;
  align-items: center; */
}


.button-object {
  display: inline-block;
  margin: auto;
  padding: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.no-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.modal-size {
  position: fixed;
  /* width: 50%; */
  /* height: 50%; */

  /* top: 100%; */
  /* left: 100%; */
  /* right: auto;
  bottom: auto; */

  /* transform: translate(-50%, -50%); */
}


@font-face {
  font-family: 'NotoSansTC';
  font-weight: 900;
  src: local('NotoSansTC'), url(../public/fonts/NotoSansTC-Black.otf) format('opentype');
}